@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Poppins:wght@400;500;600;700;900&display=swap");

:root {
  --main-color: #482010;
  --second-color: #723e29;
  --bg-color: #fff3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--bg-color);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Style Product Page */
.go-back {
  margin-top: 120px;
  margin-bottom: 2rem;
}
.go-back a {
  color: var(--bg-color);
  text-decoration: none;
  background-color: var(--second-color);
  padding: 10px;
  border-radius: 25px;
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.product-image {
  display: flex;
  flex: 1;
  justify-content: center;
}

.product-details {
  flex: 2;
  padding: 20px;
  background-color: #fff;
  max-width: 600px;
  /* border: 1px solid #ddd; */
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  margin-top: 10px;
  color: #e74c3c;
}

.product-description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.4;
}

.add-to-cart {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.quantity-input {
  width: 50px;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ddd;
}

.recommendations {
  margin-top: 80px;
  background-color: var(--second-color);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.product-card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  max-width: 300px;
  margin-top: 20px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  width: 60%;
}

.product-card-con {
  display: flex;
  justify-content: space-evenly;
}

#add-to-cart-button {
  padding: 5px;
}
