@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Poppins:wght@400;500;600;700;900&display=swap");

:root {
  --main-color: #482010;
  --second-color: #723e29;
  --bg-color: #fff3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--bg-color);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* User Admin Page */
.container-title {
  margin-top: 100px;
  max-width: 1140px;
}

.container-head {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  align-items: center;
  padding-left: 10px;
}

.container-head-head {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 1140px;
  background-color: var(--second-color);
  border-collapse: collapse;
}

th,
td {
  color: var(--bg-color);
  text-align: center;
  padding: 20px;
  border: 1px solid var(--main-color);
}

.container-head h2 {
  padding: 0;
}

.search-search {
  width: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background-color: var(--bg-color);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 60px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 12px 10px;
}

.search-bar button i {
  color: white;
}

.search-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--second-color);
}

.container-head h2 {
  margin-left: 10px;
  color: var(--bg-color);
}

.add_user {
  width: 100%;
  text-align: center;
  display: flex;
  border-radius: 10px;
}

.add_user a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border: 0px;
  background-color: #607d3b;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.add_user a i {
  font-size: 25px;
  color: #fff;
  margin-right: 5px;
}

.add_user a:hover {
  background-color: #76b622;
  color: var(--bg-color);
}

td button {
  border-radius: 10px;
  width: 60px;
  border: 0px;
  background-color: var(--bg-color);
  color: var(--second-color);
}

/* Add User Page */
.add_user-container {
  margin-top: 100px;
  max-width: 1140px;
}

.add_user-title {
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 75%;
  color: var(--second-color);
  border-radius: 10px;
  border-color: var(--second-color);
}

#add_submit {
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  width: 70px;
  background-color: green;
  color: white;
  padding: 5px;
}

.add_user-title input {
  width: 50%;
  padding: 3px;
}

.add_user-title select {
  width: 50%;
}

/* Update_Admin */
#update_user {
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  width: 70px;
  background-color: tomato;
  color: white;
  padding: 5px;
}

.container_back {
  display: flex;
  justify-content: right;
  margin-right: 29%;
  margin-top: 5px;
}

#back_page {
  text-decoration: none;
  color: var(--second-color);
}
