<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <!-- Link CSS -->
  <link rel="stylesheet" href="/css/nav">
  <link rel="stylesheet" href="/css/about">
  <!-- Box Icon link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- Navigation -->
  <nav>
    <div class="container">
      <div class="nav-con">
        <div class="logo">
          <a href="/"><i class='bx bxs-coffee-alt'></i>&nbsp; COFFEO</a>
        </div>

        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/product">Product</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
        <a href="/login" id="login">Log in</a>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
      <section id="team">
        <h1>Our Team</h1>
        <div class="member-con">
          <!-- 6587006 -->
          <div class="member">
            <img src="https://cdn.discordapp.com/attachments/1151198513078730862/1151908873045811272/image.png"
              alt="Member 1">
            <h3>Kunapoom Oprik</h3>
            <p>ID : 6587006</p>
            <p><i class='bx bx-mail-send'></i><a href="mailto:kunapoom.opr@student.mahidol.ac.th">Send Email</a></p>
            <div class="social-media">
              <a href="" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
              <a href="" target="_blank"><i class='bx bxl-instagram'></i></a>
            </div>
          </div>

          <!-- 6587080 -->
          <div class="member">
            <img src="https://cdn.discordapp.com/attachments/1151198513078730862/1151909039526133871/image.png"
              alt="Member 2">
            <h3>Tanaphat Jaroonrueang</h3>
            <p>ID : 6587080</p>
            <p><i class='bx bx-mail-send'></i><a href="mailto:tanaphat.jar@student.mahidol.ac.th">Send Email</a></p>
            <div class="social-media">
              <a href="" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
              <a href="" target="_blank"><i class='bx bxl-instagram'></i></a>
            </div>
          </div>

          <!-- 6587014 -->
          <div class="member">
            <img src="https://cdn.discordapp.com/attachments/1150116334617759794/1151567576720211988/image.png" <img
              alt="Member 3">
            <h3>Nuttkit Iamchaemlert</h3>
            <p>ID : 6587014</p>
            <p><i class='bx bx-mail-send'></i><a href="mailto:nuttkit.iam@student.mahidol.ac.th">Send Email</a></p>
            <div class="social-media">
              <a href="" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
              <a href="" target="_blank"><i class='bx bxl-instagram'></i></a>
            </div>
          </div>

          <!-- 6587096 -->
          <div class="member">
            <img
              src="https://cdn.discordapp.com/attachments/1151198513078730862/1151900740957261834/378100985_1270018063708676_4467766585027476930_n.jpg"
              alt="Member 4">
            <h3>Pichamon Ongvimolkarn</h3>
            <p>ID : 6587096</p>
            <p><i class='bx bx-mail-send'></i><a href="mailto:pichamon.ong@student.mahidol.ac.th">Send Email</a></p>
            <div class="social-media">
              <a href="" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
              <a href="" target="_blank"><i class='bx bxl-instagram'></i></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <p>&copy; 2023 Coffeo Blend. All rights reserved.</p>
  </footer>
</body>

</html>