<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COFFEO</title>
  <!-- link css -->
  <link rel="stylesheet" href="/css/nav">
  <link rel="stylesheet" href="/css/home">
  <!-- Icon -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <!-- Navigation -->
  <nav>
    <div class="container">
      <div class="nav-con">
        <div class="logo">
          <a href="/"><i class='bx bxs-coffee-alt'></i>&nbsp; COFFEO</a>
        </div>

        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/product">Product</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
        <a href="/login" id="login">Log in</a>
      </div>
    </div>
  </nav>

  <!-- Hero Section-->
  <section class="hero">
    <div class="container">
      <div class="hero-con">
        <div class="hero-info">
          <h1>Explore a wide <br>variety of coffee beans</h1>
          <p>We offers a diverse selection of specialty coffee beans from around the world. Discover unique
            flavors and find your perfect cup of coffee. </p>
          <a href="/product" class="hero-btn">Explore Our Product &nbsp; &rarr;</a>
        </div>

        <div class="hero-img">
          <img src="https://cdn.discordapp.com/attachments/1151198513078730862/1151903955861897236/hero_2.webp"alt="packages">
        </div>
      </div>
    </div>
  </section>

  <!-- Product Section -->
  <section class="product">
    <div class="container">
      <div class="product-header">
        <h2>Best Selling Coffee</h2>
        <p>Explore our finest roasted coffee blends.</p>
      </div>

      <div class="product-con">
        <div class="product-card">
          <img src="https://cdn.discordapp.com/attachments/1151198513078730862/1151198862569127946/america.png" alt="Product 1">
          <h2>American</h2>
          <p>Light roast</p>
          <p>$9.99</p>
        </div>

        <div class="product-card">
          <img src="https://cdn.discordapp.com/attachments/1151198513078730862/1151198861210169405/italian.png" alt="Product 2">
          <h2>Italian</h2>
          <p>Medium roast</p>
          <p>$10.99</p>
        </div>

        <div class="product-card">
          <img src="https://cdn.discordapp.com/attachments/1151198513078730862/1151198861734445106/morocan.png" alt="Product 3">
          <h2>Morocan</h2>
          <p>Medium roast</p>
          <p>$11.99</p>
        </div>
        <div class="product-card">
          <img src="https://cdn.discordapp.com/attachments/1151198513078730862/1151198863336681472/brazil.png" alt="Product 4">
          <h2>Brazil</h2>
          <p>Dark roast</p>
          <p>$13.99</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2023 Coffeo Blend. All rights reserved.</p>
  </footer>
</body>

</html>